{% extends 'header.html' %}

{% block title %} Scanner {% endblock %}

{% block content %}

    <script>
        function performDelete() {
            fetch('/delete_db', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })

            .then(response => response.json())

            .then(data => {
                console.log(data);
                if (data.status) {
                    showAlert('success', data.message);

                } else {
                    showAlert('danger', data.message);
                }
            })

            .catch(error => {
                showAlert('danger', `Произошла ошибка: ${error.message}`);
            });
        }

        function showAlert(type, message) {
            var alertDiv = document.createElement('div');
            alertDiv.className = 'alert alert-' + type;
            alertDiv.innerHTML = message;

            var container = document.querySelector('.container');
            container.insertBefore(alertDiv, container.firstChild);

            setTimeout(function() {
                alertDiv.remove();
            }, 5000);
        }

    </script>


    <div class="container mt-5 align-items-center">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="text-center">Удаление базы данных</h1>
                <form id="form" method="post">
                    <button type="button" onclick="performDelete()" class="btn btn-danger">Удалить базу данных</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
