{% extends 'header.html' %}

{% block title %} Shodan {% endblock %}

{% block content %}
    {% if data %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">IP-адрес</th>
                    <th scope="col">Порт</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Onion Routing</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                    <tr>
                        <td>{{ data['ip_addr'] }}</td>
                        <td>{{ data['ports'] }}</td>
                        <td>{{ data['country'] }}</td>
                        <td>{{ "Да" if data['is_onion_routing'] else "Нет" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Таблица пуста.</p>
    {% endif %}
{% endblock %}
